<h2>Show Following</h2>

<ul>

  <li>
    <strong>Following email:</strong>
    <%= @following.following_email %>
  </li>
  <li>
    <strong>Owner id:</strong>
    <%= @following.user_id %>
  </li>
</ul>

<span><%= link "Edit", to: following_path(@conn, :edit, @following) %></span>
<span><%= link "Back", to: following_path(@conn, :index) %></span>
