<h2>Show Follower</h2>

<ul>

  <li>
    <strong>Follower email:</strong>
    <%= @follower.follower_email %>
  </li>

</ul>

<span><%= link "Edit", to: follower_path(@conn, :edit, @follower) %></span>
<span><%= link "Back", to: follower_path(@conn, :index) %></span>
